* {
  margin: 0;
  padding: 0;
  list-style-type: none;

  --color-background-primary-light: rgb(226, 232, 240);
  --color-text-primary-light: rgb(0, 0, 0);
  --color-text-secondary-light: rgb(99, 99, 99);
}

.book-card {
  color: var(--color-text-secondary-light);
}

h1 {
  color: var(--color-text-primary-light);
  font-size: 20px;
}

main {
  background-color: var(--color-background-primary-light);

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(180px, 1fr));
}
